
#btn{
    text-decoration: underline;
}
.home{
    background-color: rgb(250, 223, 199);
    width: 100%;
    margin: 0px;
    padding-top: 80px;

}
.home .container{
    
    font-size: 20px;
    color: #27325E;
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 40px;
    
    
    
}
.home .container h1{
    font-size: 70px;
    color: #27325E;
}
.home .container .img{
    margin-top: 30px;
    width: 1070px;
    height: 690px;
}
.home .container button{

}